.header {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}


.btn-link {
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  transition: color 0.9s;
}

.btn-link:hover {
  background-color: #2997ff;
}


